@{
    ViewBag.Title = "AccountVerification";
}

<div class="jumbotron">
    <h2>Gracias</h2>
    <p>Su usuario se ha creado exitosamente, sera redirigido a la página de inicio de sesion.</p>
</div>

    
<script>
    function Redirect() {
        window.location = "../../Auth/Login";
    }
    setTimeout('Redirect()', 5000); 
</script>