<div class="jumbotron" style="background-image:url(../../img/utils/miami.jpg)">
    <h1>Disfrute la mejor experiencia de vuelo!</h1>
    <p class="lead">Llevando sonrisas y experiencias unicas a lo largo del mundo. A pocos clicks y estara listo para la mejor 
    experiencia de su vida</p>
</div>
<div class="row bg-light">
    <div class="col-md-4">
        <h2>Reservaciones</h2>
        <p>Aca podra encontrar informacion sobre sus reservaciones</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vuelos</h2>
        <p>Reserve o realice sus comprar para disfrutar de los mejores destinos</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Destinos</h2>
        <p>Le mostramos los destinos mas aclamados por los turistas.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
