<div class="jumbotron" style="background-image:url(../..//img/utils/miami.jpg)">
    <h1 style="color:#2B3E50">Disfrute la mejor experiencia de vuelo!</h1>
    <p class="lead" style="color:#485563">Llevando sonrisas y experiencias unicas a lo largo del mundo. A pocos clicks y estara listo para la mejor 
    experiencia de su vida</p>
</div>
<div class="row bg-light">
    <div class="col-md-6">
        <h2>Reservaciones</h2>
        <p>Aca podra encontrar informacion sobre sus reservaciones</p>
        <p><a class="btn btn-default" href="/Reservations/Create">Ver Reservaciones &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Vuelos</h2>
        <p>Reserve o realice sus comprar para disfrutar de los mejores destinos</p>
        <p><a class="btn btn-default" href="/flights/Departures">Ver Vuelos&raquo;</a></p>
    </div>
</div>
